<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cube26.celkonstore"
    android:versionCode="2"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <!-- Added for killing app -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.SET_PROCESS_LIMIT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <!-- DA permissions start -->
    <!-- DA permissions end -->
	<!-- Added for GCM -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.cube26.lavanextapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cube26.lavanextapp.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/cube26AppName"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <!-- Required for applications which use Google Play Services. -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.cyanogen.ambient.version"
            android:value="2" />
        <activity
            android:name="com.cube26.trendingnow.TrendingAppActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cube26.trendingnow.AmbientAuthorizationActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <!-- <intent-filter> 
                <action android:name="android.intent.action.MAIN" /> 
               <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter> --> 
        </activity>
        <activity
            android:name="com.cube26.trendingnow.TrendingAppUrlActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.cube26.trendingnow.FullAppDescription"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.cube26.trendingnow.WidgetUpdateAlertActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.cube26.trendingnow.ImagePagerActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.cube26.trendingnow.WidgetConfigureActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >

            <!--
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            -->
        </activity>

        <receiver
            android:name="com.cube26.trendingnow.WidgetReceiver"
            android:excludeFromRecents="true"
            android:label="@string/cube26WidgetName" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cube26.trendingapps.UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cube26.trendingapps.DEAL" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cube26.trendingapps.APPLABEL_CLICK_ACTION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver
            android:name="com.cube26.trendingapps.receivers.WidgetItemClickIntentReceiver"
            android:exported="false"
            android:label="CubeWidgetIntentReceiver" >
            <intent-filter>
                <action android:name="com.cube26.trendingapps.OPENAPP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.cube26.trendingapps.receivers.WidgetDealClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.cube26.trendingapps.OPENDEALRECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cube26.trendingapps.receivers.AppInstallListener" >
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.cube26.trendingapps.receivers.AppActivationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.trendingapps.activationreceiver" />
            </intent-filter>
        </receiver>

        <service android:name="com.cube26.trendingapps.analytics.SendUnsentData" />
        <service android:name="com.cube26.trendingapps.webservices.DownloadService" />
        <service android:name="com.cube26.trendingapps.webservices.DownloadHiddenAppService" />
        <service android:name="com.cube26.trendingapps.webservices.WidgetUpdateService" />
        <service android:name="com.cube26.trendingapps.webservices.AppDownloaderService" />

        <receiver android:name="com.cube26.trendingapps.receivers.AppDownloadReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.cube26.trendingnow.FullScreenActivity"
            android:label="@string/title_activity_full_screen"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>

        <!-- DA corresponding entries start -->
         <receiver android:name="com.cube26.dataassist.listeners.CL_Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cube26.dataassist.RECEIVER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cube26.app.ACTION_OPEN" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.cube26.dataassist.CL_CollectorService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" > 

            <!-- android:process=":collProcess"> -->
        </service>
        <service
            android:name="com.cube26.dataassist.listeners.CL_NotificationManager"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service> 
        <!-- DA corresponding entries end -->


        <!-- App activation notification start -->
      <receiver android:name="com.cube26.notificationactivationlib.NotificationActivationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cube26.notificationactivationlib.AppActivationReceiver" >
            <intent-filter>
                <action android:name="com.cube26.activation.ACTIVATION_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cube26.notificationactivationlib.NotificationReceiver" >
            <intent-filter>
                <action android:name="com.cube26.notification.NOTIFICATION_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cube26.notificationactivationlib.OpenNotificationReceiver" >
            <intent-filter>
                <action android:name="com.cube26.notification.OPEN_APP_RECEIVER" />
            </intent-filter>
        </receiver>

        <service android:name="com.cube26.notificationactivationlib.SendUnsentData" >
        </service> 
        <!-- App activation notification end -->
        
        <!-- App update activity, service, receiver start -->
       <activity
            android:name="com.cube26.appupdate.AppUpdateAlertActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />

        <receiver android:name="com.cube26.appupdate.AppInstallListener" >
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.cube26.appupdate.AppUpdateService" />

        <receiver android:name="com.cube26.trendingnow.util.UpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> 
        <!-- App update activity, service, receiver end -->
        <!-- GCM related entries start -->
        <receiver android:name="com.cube26.trendingnow.GcmAppInstallReceiver"></receiver>
        <receiver
            android:name="com.cube26.trendingnow.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.GCM_RECEIVED_ACTION" />
                
                <category android:name="com.cube26.trendingnow" />
            </intent-filter>
        </receiver>
        <service android:name="com.cube26.trendingnow.GcmIntentService"
            android:enabled="true" />
        <!-- GCM related entries end -->
        
        
        
    </application>

</manifest>